@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.timeCarousel{

    .slick-initialized{
        @media screen and (max-width:'900px') {
            height:100% !important;
        }
    }
    .slick-initialized .slick-slide{
        div{
            display:flex !important;
            flex-direction: column !important;
            .time{
                transform: scale(2.2);
            }
        }
    }
    .slick-initialized .slick-list{
        @media screen and (max-width:'972px') {
            padding-bottom: 5rem !important;
        }
        @media screen and (max-width:'900px') {
            height:100% !important;
        }
    }


}