@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.profile-body{
    margin: 0 auto !important;
    width: 65vw !important;
    padding: 10vh 24px !important;
    // @media screen and (min-width:'1128px')
    // {
    //     max-width: 1080px !important;
    // }
    // @media screen and (min-width:"744px") {
    //     max-width: 696 !important;        
    // }
}
.Account-font{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 44px;
    color: #333232;
;
}