#simple-popover {
	background-color: rgba(0, 0, 0, 0.7);
}
.select::before {
		border:  1px solid #868686 !important;

	  }
	  .select::after {
		border:  1px solid #868686 !important;

	  }
.MuiOutlinedInput-notchedOutline{
	border:none !important
}